<div class="media-heading">
  <% if notification.second_target != nil %>
  <p> <%= notification.actor.name %> </p>
  
  <%=
  if notification.second_target.status === "accepted"
    "joined your "
  else
    "rejected your"
    end
  %>
  <%= link_to "order", main_app.order_path(notification.target) %> 
</div>
 <% end %>