<h1><% p  @order %></h1>
<%if @order%>
<div class="center">
  <table class="table table-striped h5">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Restaurant</th>
        <th>Status</th>
        <th> Menu</th>
        
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>

    
        <tr>
          <td><%= @order.order_for %></td>
          <td><%= @order.restaurant_name %></td>         
          <td><%= @order.status %> </td>
          <td><%= image_tag("/uploads/#{@order.menu_image}") %> </td>
          
        </tr>
  
    <% end %>